
caca.kicad_pcb
keyboard-pcb.xml
*.kicad_pcb-bak
*.kicad_pcb-bak
keyboard-pcb-rescue.dcm
keyboard-pcb-rescue.lib
keyboard-pcb.kicad_pcb-bak
keyboard-pcb.sch-bak
keyboard-pcb.step
keyboard-pcb.wrl
shapes3D/C_0603_1608Metric.wrl
shapes3D/Crystal_SMD_3225-4Pin_3.2x2.5mm.wrl
shapes3D/D_SOD-123.wrl
shapes3D/Fuse_0603_1608Metric.wrl
shapes3D/HRO_TYPE-C-31-M-12.wrl
shapes3D/LED_0201_0603Metric.wrl
shapes3D/MicroSwitch6mm.wrl
shapes3D/PinHeader_1x01_P1.00mm_Vertical.wrl
shapes3D/PinHeader_1x02_P1.00mm_Vertical.wrl
shapes3D/PinHeader_1x03_P1.00mm_Vertical.wrl
shapes3D/PinHeader_1x04_P1.00mm_Vertical.wrl
shapes3D/PinHeader_1x05_P1.00mm_Vertical.wrl
shapes3D/PinHeader_1x08_P1.00mm_Vertical.wrl
shapes3D/QFN-64-1EP_9x9mm_P0.5mm_EP7.5x7.5mm.wrl
shapes3D/R_0603_1608Metric.wrl
shapes3D/SOIC-8_3.9x4.9mm_P1.27mm.wrl
shapes3D/SOT-223.wrl
shapes3D/SW_Hotswap_Kailh.wrl
SVG/keyboard-pcb-B_Cu.svg
SVG/keyboard-pcb-B_Mask.svg
SVG/keyboard-pcb-B_Mask.svg.2021_09_19_00_37_30.0.svg
SVG/keyboard-pcb-B_Paste.svg
SVG/keyboard-pcb-B_SilkS.svg
SVG/keyboard-pcb-Edge_Cuts.svg
SVG/keyboard-pcb-F_Cu.svg
SVG/keyboard-pcb-F_Mask.svg
SVG/keyboard-pcb-F_Paste.svg
SVG/keyboard-pcb-F_SilkS.svg
keyboard-pcb.kicad_pcb-bak
keyboard-pcb.wrl
keyboard-pcb.kicad_pcb-bak
keyboard-pcb.wrl
